
body
{
    background-color: #CCCCCC;
}
.form
{
    background-color:none;
    width: 40%;
    opacity:1;
    text-align: center;
    padding: 10px 15px 10px 10px;    
    font-size: 18px;
    color:darkblue;
    margin-bottom: 30px;
    height: auto;
}
.form2
{
    float: left;
    width: 30%;
    overflow: auto;
    margin-left: 2.5%;
    background-color:lightgoldenrodyellow;
    opacity: 0.7;
    text-align: left;
    padding: 5px 5px 5px 5px;
    
    font-size: 18px;
    color:saddlebrown;
    margin-bottom: 30px;
    height: auto;
}
.form2:hover
{
    opacity: 1;
}
b 
{
    color: darkred;
}
h1,h2
{
    
    color: cornflowerblue;
    text-align: center;
}
h5
{
    margin-bottom: -20px;
    margin-top: 0px;
}
h5:hover
{
    background-color: burlywood;
}
.btn
{
    
    font-size: 26px;
    background-color:lightgoldenrodyellow;
    color: forestgreen;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
}
.btn3
{
    font-size: 20px;
    color: cornflowerblue;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    border: 2px solid grey;
    border-radius: 2px;
}
.btn3:hover
{
    background-color: lightblue;
}
title
{
    
    font-size: 16px;
    color: darkred;
}
.btn1
{
    
    font-size: 26px;
    background-color: lightgoldenrodyellow;
    color: red;
    border: none;
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#delete
{
     margin-top: 0px;
     
}
.data
{
    width: 60%;
    background-image: url( bg-35.png);
    height: 24px;
    font-family: monospace;
    color: darkblue;
    border: 1px solid black;
    font-size: 18px;
    outline: none;
    
}
label
{
    
    font-size: 20px;
    color: cornflowerblue;
}
a 
{
    text-decoration:none;
}

p  
{
     font-size: 18px;
     color: darkred;
}
.note
{
    width: 100%;
    height: 80px;
    opacity: 0.8;
    resize: none;
    background-color: lightgoldenrodyellow;
    font-family: monospace;
    font-size: 18px;
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    border: none;
}
.note:hover
{
    opacity: 1;
}
.note2
{
    width: 100%;
    height: 100px;
    resize: none;
    background-color: lightgoldenrodyellow;
    font-family: monospace;
    font-size: 18px;
    color: darkslategray;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    border: none;
    margin-top: -10px;
    margin-bottom: -20px;
}

.id
{
    width: 10px;
    height: 10px;
    visibility: hidden;
    padding: 0 0 0 0;
}
footer
{

    position: fixed;
    left: 0; bottom: 0;
    color: midnightblue;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}
#delete
{
    text-align: right;
}